@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lustria&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F0F0F0;
}

/* header */

.nav {
    background: crimson;
    height: 70px;
}


/* barre de recherche */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* min-height: 100vh; */
    /* padding: 5%; */
 }

 .search-bar{
    width: 100%;
    height: 40px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16);
 }

 .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    /* color: #cac7ff; */
}
::placeholder{
    font-family: 'Lato' ,sans-serif;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 70%;
    width: 32px;
    height: 32px;
}

.vertical-line{
    border-left: 2px solid #F0F0F0;
    display: inline-block;
    height: 40px;
    margin: 0 4px;
    border-radius: 8%;
  }

  /* carousel */
  img .slider-container{
     max-width: 100%;
     padding-left: 20px;
     padding-right: 20px;
    
}
.slider-container {
    width: 350px;
    position: relative;
    height: 230px;
    overflow: hidden;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 20px;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 102px;
    height: 6px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #003459;
}
.slide-input{
    opacity: 0;
    margin-left: 30%;
    
}
.slide-img {
    width:240px;
    height: 175px;
    position: absolute;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    border-radius: 8px;
    margin-left: 16%;
    margin-bottom: 15%;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

/* titres hardware */
 
.hardware h2  {
   font-family: 'Lustria', sans-serif; 
   font-size: 20px;
}

.hardware h3{
    font-family: 'Lato', sans-serif;
    color: #003459;
    font-size: 14px;
    margin-top: 4px;
}

.hardware {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/* boutons hardware */

.procartes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.processeurs {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.CM {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.procartes img {
    width: 32px;
    height: 32px;
}

.procartes span {
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    color: white;
    

}

.pc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.portable {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bureau {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.pc img {
    width: 32px;
    height: 32px;
}

.pc span {
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    color: white;
    

}


/* titres software */

.software h2  {
    font-family: 'Lustria', sans-serif; 
    font-size: 20px;
 }
 
 .software h3{
     font-family: 'Lato', sans-serif;
     color: #003459;
     font-size: 14px;
     margin-top: 4px;
 }
 
 .software {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 30px;
     margin-left: 20px;
     margin-right: 20px;
 }

 /* boutons software */

 .phoword {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.photo {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.word {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.phoword img {
    width: 32px;
    height: 32px;
}

.phoword span {
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    color: white;
    

}

.windobe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.windows {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.adobe {
    background-color: #003459;
    border-radius: 9999px;
    width: 185px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.windobe img {
    width: 32px;
    height: 32px;
}

.windobe span {
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    color: white;
    

}